<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="banner">
        <h1 class="title">{{titulo}}</h1>
        <nav class="navMain">
          <ul class="nav_ul">
            <li><a href="/">Productos</a></li>
            <li><a href="/realTimeProducts">Productos.Socket</a></li>
          </ul>
        </nav>
      </div>
      <div class="mainPage">
        {{{body}}}
      </div>
    </div>
  </body>
</html>