<h2>LOGIN</h2>
<form action="" method="post">
    <input type="email" name="email" id="email" placeholder="Ingresa tu email">
    <input type="password" name="password" id="password" placeholder="Ingresa tu contraseña">
    <input type="submit" value="Iniciar">
</form>

<h2>¿No tienes una cuenta?</h2>
<button onclick="location.href='/api/users/signup'">Crear cuenta</button>

<h2>Ingresar con GitHub</h2>
<button onclick="location.href='/users/loginGithub'">GitHub</button>